.dominance-chart {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  &__label {
    display: flex;
    align-items: center;
    margin: 20px 0 15px;
  }

  &__label-value {
    margin-right: 8px;
    font-size: 16px;
    line-height: 1;
  }

  &__label-diff {
    border-radius: 4px;
    padding: 8px;
    font: 14px/1 Montserrat-400;
    background-color: rgba(255, 103, 86, 0.2);
    color: rgba(255, 103, 86, 1);

    &_profit {
      background-color: rgba(0, 255, 169, 0.4);
      color: rgba(0, 255, 169, 1)
    }
  }
}
