.header {
  margin-bottom: 16px !important;
  border-radius: 8px;
  position: relative !important;
  background-color: transparent !important;

  .logo {
    width: 119px !important;
    height: 48px !important;

    img {
      width: 100%;
      height: 100%;
    }
  }
  padding-bottom: 16px;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1345px;
    margin: 0 auto;
  }

  &__menu {
    display: flex;
    align-items: center;
  }

  &__menu-item {
    margin-left: 3px;
  }

  &__menu-item-icon {
    display: block;
    width: 24px;
    height: 24px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;


    &_youtube {
      background-image: url('../../images/youtube.svg');
    }

    &_telegram {
      background-image: url('../../images/telegram.svg');
    }
  }
}




.header__menu {
  display: flex;
  align-items: center;
  margin-left: 16px;
  margin-top: 3px;
}

.header__menu-item {
  margin-right: 5px;
  margin-left: 5px;
  color: #eeebeb;
  text-decoration: none;
}

.header__burger {
  display: none; /* Скрываем бургер на десктопе */
  cursor: pointer;
}

.header__burger-line {
  width: 20px;
  height: 2px;
  background-color: #dbb566;
  margin-bottom: 4px;
}

/* Медиазапрос для показа бургера на мобильных устройствах */
@media (max-width: 768px) {
  .header__burger {
    display: block; /* Показываем бургер на мобильных устройствах */
  }

  .header__drawer {
    display: block !important; /* Показываем drawer на мобильных устройствах */
  }

  .header_links {
    display: none !important;
  }
}

.header__drawer-item {
  display: block;
  font-size: 16px;
  color: #fff !important;
  text-decoration: none !important;
  transition: color 0.25s;

  @media (max-width: 770px) {
    margin-bottom: 20px;
  }

  &:hover {
    color: #FCC521 !important;
  }
}
