.youtube {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;

  &__play {
    position: absolute;
    z-index: 60;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-image: url("./images/play.svg");
    opacity: 0;
    visibility: hidden;
    transition: .35s;

    &_show {
      visibility: visible;
      opacity: 1;
    }
  }

  &__swiper {
    height: 100%;
  }

  &__swiper-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
    opacity: 0;
    transition: 0.25s opacity ease-in-out;

    &_loaded {
      opacity: 1;
    }
  }

  &__swiper-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 20%, rgba(0, 0, 0, 0.8) 80%);
    opacity: 0;

    &_loaded {
      opacity: 1;
    }
  }

  &__swiper-title {
    position: relative;
    z-index: 100;
    max-width: 210px;
    font-size: 16px;
    line-height: 24px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    opacity: 0.5;
    transition: opacity 0.25s ease-in-out;
  }
}

.swiper-slide {
  display: flex;
  align-items: flex-end;
  padding: 0 24px 16px;

  .loader {
    position: absolute;
    z-index: 102;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__play {
    
  }
}

.swiper-slide-active {

  &:hover {

    .youtube__play {
      transform: scale(1.07) translate(-50%, -50%);
    }
  }

  .youtube__swiper-title {
    opacity: 1;
  }
}

.swiper-button-prev {
  position: absolute;
  z-index: 100;
  bottom: 24px;
  right: 100px;
  width: 20px;
  height: 20px;
  transform: rotate(180deg);
  background-image: url("./images/arrow.svg");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.swiper-button-next {
  position: absolute;
  z-index: 100;
  bottom: 24px;
  right: 20px;
  width: 20px;
  height: 20px;
  background-image: url("./images/arrow.svg");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.swiper-pagination {
  position: absolute;
  z-index: 100;
  bottom: 26px;
  right: 56px;
  color: #DBB466;
  font: 14px/1 Montserrat-700;
}
