.bubbles {
  width: 100%;
  height: 100%;

  &__select {
    width: 120px;

    //.ant-select-selector {
    //  border-color: #222222 !important;
    //  background-color: #222222 !important;
    //  color: #fff !important;
    //}
  }

  &__item {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: burlywood;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.bubbles-container-hi {
  display: none;
  visibility: hidden;
  opacity: 0;

  &_show {
    visibility: visible;
    opacity: 1;
    display: block;
  }
}
