.popup {

  &__info-title {
    font-family: Oswald, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
  }

  &__info-description {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 0;
  }

  &__info-rating {
    font-family: Oswald, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    text-transform: capitalize;
    color: #FFFFFF;
  }

  &__info-value {
    font-family: Oswald, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
  }

  &__info-green {
    font-family: Oswald, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: #75D9B6;
  }

  &__percentBlock {
    padding: 4px 10px;
    font-family: Oswald, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    border-radius: 4px;

    &_green {
      color: rgba(117, 217, 182, 1);
      background: rgba(127, 238, 200, 0.5);
    }

    &_red {
      color: rgba(255, 103, 86, 1);
      background: rgba(236, 132, 119, 0.3);

    }

  }
  &__percent-text {
    font-family: 'Roboto Condensed',sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
  }
}

.popup-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
