.input-checker {
    display: flex;
    align-items: center;
}

.input-checker__label {
    display: flex;
    align-items: center;
}

/* Стили для подписи */
.checker-label {
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;
    text-align: left;
    margin-left: 8px; /* Отступ от переключателя */
}

/* Стили для переключателя */
.switch {
    position: relative;
    display: inline-block;
    width: 28px;
    height: 16px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
    padding: 0 !important;
    margin: 0 !important;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.4s;
    border-radius: 16px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 2px;
    bottom: 2px;
    background-color: #060604;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider:before {
    transform: translateX(12px);
}

/* Без границ и круглые углы */
.slider.round {
    border-radius: 16px;
}

.slider.round:before {
    border-radius: 50%;
}
